body {
    background-image: url("../images/Background.jpg");
    font-family: Impact, Charcoal, sans-serif;
}

.container {
    margin: 20px auto 0 auto;
    width: 80%;
    align-items: center;
}

.p-30 {
   width: 30%;
}

.ContainerVault {
    width: 400px;
    height: 360px;
    background: #5b6463;
    padding: 3px;
    margin-top: 50px;
}

#Main-Header {
  text-align: center;
  font-size: 35px;
}

.ContainerVault .light {
    background: black;
    width: 200px;
    float: left;
    height: 50px;
}

.ContainerVault .light.red {
    background: darkred;
    filter: brightness(50%);
}

.ContainerVault .light.green {
    background: darkgreen;
    filter: brightness(50%);
}

.ContainerVault .light.blink {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.clearfix {
    clear: both;
}

.entered-code {
    color: green;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin: 10px auto;
    background: black;
    height: 65px;
}

.GuessCode {
    width: 100%;
}

.vault-buttons {
    width: 176px;
    margin: 10px auto 0 auto;
}
.vault-buttons > button.null-btn {
    width: 170px;
}

.vault-buttons > button {
    background: lightgray;
    cursor: pointer;
    color: black;
    width: 50px;
    height: 50px;
    border: black 1px solid;
    margin: 3px;
}
.GoodCodeOrWrongCode {
    color: white;
    text-align: center;
}
